/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@charset "UTF-8";
@mixin size($w, $h) {
  height: $h;
  width: $w;
}

@import url("http://fonts.googleapis.com/earlyaccess/notosanstc.css");
@mixin transition($sec) {
  transition: all $sec linear;
}

@import "compass/reset";
$background-color:#333;
* {
  box-sizing: border-box; //background-color: $background-color;
  user-select: none;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Noto Sans TC', sans-serif; //position: relative;
  background-color: #334276;
}

.header {
  text-align: center;
  margin-left: -2%;
  font-size: 3rem;
  font-weight: 500;
  color: rgba(255, 255, 255, .7);
}

#login {
  font-size: 72px;
  text-align: center;
  margin: 0px auto;
  letter-spacing: 5px;
  user-select: none;
  line-height: 300px;
}

.loginbox {
  height: 300px;
  width: 300px; //border: 2px solid black;
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-55%) translateY(-50%);
  background-color: #E5FF86;
  box-shadow: 4px 6px 16px rgba(10%, 10%, 10%, 0.25);
  background-image: url("../image/1.png");
  border-radius: 10%;
}

#account {
  margin: 70px auto 15px auto;
}

#password {
  margin: 5px auto 15px auto;
}

.login-input-box {
  width: 58%;
  height: 30px;
  background-color: white;
  border: none;
  padding: 0 10px;
  border-bottom: 1px solid #666;
  font-size: 1rem;
  letter-spacing: .4px;
  color: #666;
  &:focus {
    outline: none;
  }
}

#btn {
  width: 60%;
  margin: 10px auto 20px auto;
  background-color: #FFF481;
  user-select: none;
  padding: 8px 0;
  color: #333;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  @include transition(.1s);
  box-shadow: 2px 2px 4px rgba(33, 33, 33, .2);
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:hover {
    box-shadow: 2px 2px 4px rgba(33, 33, 33, .15);
    color: #666;
  }
  &:active {
    border: 1px inset;
  }
}

#register {
  margin-right: 22%;
}

#forget {
  margin-right: 12px;
}

.else-button {
  color: #777;
  text-decoration: none; //background-color: white;
  user-select: none;
  float: right;
  font-size: .8rem;
  font-weight: 400;
  @include transition(.1s);
  &:hover {
    color: #333;
  }
}