/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@charset "UTF-8";
@import url("http://fonts.googleapis.com/earlyaccess/notosanstc.css");
@mixin transition($sec) {
  transition: all $sec linear;
}

@import "compass/reset";
$background-color:#333;
* {
  box-sizing: border-box; //background-color: $background-color;
  user-select: none;
  position: relative;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Noto Sans TC', sans-serif; //position: relative;
  background-color: #334276;
}

.header {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: fixed;
  z-index: 999;
  background-color: #3498db;
  box-shadow: 0px 2px 6px 2px rgba(20%, 20%, 40%, 0.5);
  border-radius: 2%;
}

.memo {
  width: 33%;
  height: 100%;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 5px;
  color: rgba(255, 255, 255, .7);
  margin-top: 2%;
  text-align: left;
  padding-left: 20px;
}

.name {
  width: 33%;
  height: 100%;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, .7);
  margin-top: 6%;
  text-align: center;
  padding-right: 20px;
}

.time {
  width: 33%;
  height: 100%;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, .7);
  margin-top: 6%;
  text-align: right;
  padding-right: 20px;
}

.nav {
  height: 100%;
  width: 150px;
  display: flex;
  flex-direction: column;
  background-color: #3498db;
  position: fixed;
  box-shadow: 0px 0px 2px 2px rgba(20%, 20%, 40%, .15);
}

.bbox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  top: 15%;
}

.add_btn {
  width: 80%;
  height: 50px;
  margin: 10px 10px 5px 10px;
  padding-left: 5px;
  font-size: 1.3rem;
  border-radius: 3%;
  color: #444;
  background-color: #FFF481;
  border-color: #FFF481;
  box-shadow: 2px 2px 4px rgba(33, 33, 33, .2);
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:hover {
    box-shadow: 2px 2px 4px rgba(33, 33, 33, .15);
    color: #666;
  }
  &:active {
    border: 1px inset;
  }
}

.list {
  font-size: 1.3rem;
  color: #444;
  text-decoration: none;
  text-align: center;
  margin: 0px 10px 10px 10px;
  border-bottom: 1px solid black;
  line-height: 40px;
  padding: 0px 0px 5px 0px;
  &:hover {
    color: 0px 0px 2px rgba(33, 33, 33, .15);
    color: #777;
  }
  &:focus {
    outline: none;
  }
}

.ALL {
  margin-top: 10px;
}

.Delete {
  border-bottom: none;
}

.article {
  left: 150px;
  width: 86%;
  height: 100%;
  margin: 10px;
}

.box {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(155, 155, 155, .9);
  border-radius: 3%;
  margin: 3px 0px 15px 0px;
  display: flex;
  justify-content: flex-start;
  line-height: 50px;
  a {
    color: black;
    text-decoration: none;
  }
}

.content {
  width: 600px;
}

.hidebox {
  padding: 5px;
  border: 1px solid white;
  width: 120px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, .65);
}

.img_1 {
  width: 25px;
  height: 25px;
  &:hover {
    box-shadow: 1.5px 1.5px 6px rgba(33, 33, 33, .2);
  }
}

.date {
  padding-left: 200px;
}